---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Kawa Designs - Handmade outdoor gear for hiking, backpacking, and bikepacking. Durable, versatile, and environmentally friendly products from Salt Lake City, Utah." } = Astro.props;
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content={description}>
<title>{title}</title>
<link rel="icon" type="image/png" href="/images/logos/web-icons-kawa-15.png">
