---
---

<header id="site-header">
    <div class="logo-container">
        <a href="/">
            <img src="/images/logos/kawa-gradient-01.png" alt="Kawa Designs">
        </a>
    </div>
</header>
