---
---

<div class="sidebar-menu-button">
    <button id="menu-button" class="backpack-menu" aria-label="Open menu">
        <div class="menu-icon"></div>
    </button>
    <div class="menu-label">MENU</div>
</div>
